@model Inventory_App.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PSC | Inventory Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">

    <style>
        body {
            height: 100%;
            overflow-y: hidden;
        }

        .login-bg {
            padding: 0;
            overflow-x: hidden;
        }

            .login-bg img {
                position: center;
                width: 110%;
            }

        .system-login-logo {
            width: 85%;
            margin: 30% 0 6%;
        }

        #UserName {
            padding: 3%;
            font-family: 'Maven Pro', sans-serif;
            width: 100%;
            margin-bottom: 10px;
        }

        #Password {
            padding: 3%;
            font-family: 'Maven Pro', sans-serif;
            width: 100%;
            margin-bottom: 10px;
        }

        button {
            font-family: 'Maven Pro', sans-serif;
            padding: 3% 10% !important;
            font-size: 20px !important;
            font-variant: small-caps;
        }
    </style>

</head>
<body>
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true)
        <div class="container-fluid">

            <div class="row text-center">

                <div class="col-lg-12">

                    <div class="row">

                        <div class="col-lg-8 login-bg">
                            <img src="~/Content/Images/PSC_BLDG.jpg" />
                        </div>

                        <div class="col-lg-4" style="">
                            <img class="system-login-logo" src="~/Content/Images/Logo.png" />
                            <h5>Enter Your Login Credentials Below</h5>
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(a => a.UserName, new { @placeholder = "Enter Username", @type = "text", @name = "UserName" })
                                        </div>
                                        <div class="col-lg-12">
                                            @*@Html.PasswordFor(a => a.Password, new { @placeholder = "Enter Password", @type = "password", @name = "Password" })*@
                                            <input id="Password" type="password" name="password" placeholder="Enter Password" />
                                        </div>
                                        <button class="btn btn-primary" name="Submit" value="Login" type="Submit">Login</button>
                                    </div>
                                </div>

                            </div>
                            <div class="row text-left" style="margin-top:150px">
                                <div class="col-lg-7 col-lg-offset-1" style="padding-top:8%">©2016 Public Service Company</div>
                                <div class="col-lg-4">
                                    <img src="~/Content/Images/PSCLogo.png" style="width:60%;margin-left:15%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    }

    <script src="~/Content/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>

</body>
</html>
