@model IEnumerable<Inventory_App.Models.Store>

<table class="table">
    <tr>
        <th>
            Country
        </th>
        <th>
            Store
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store1)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBrand", new { id = item.Store_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Store_Id })
            </td>
        </tr>
    }

</table>
